nav {
  position: absolute;
  top: 3rem;
  left: 5rem;

  ul {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 0 3rem;
    align-items: center;

    li {
      font-size: 2.3rem;
      font-weight: 600;

      span {
        font-size: 2.6rem;
        font-weight: 900;
        text-transform: uppercase;
      }
    }
  }
}
