button {
  background-color: #000;
  color: white;
  width: 21rem;
  height: 4rem;
  font-weight: 700;
  font-size: 1.5rem;
  transition: 0.2s;
  border: 2px solid black;

  &:hover {
    background-color: transparent;
    color: #000;
  }
}
