.hero {
  display: flex;
  height: 100%;
  @media (min-height: 700px) {
    height: 100vh;
  }

  &__content {
    display: grid;
    gap: 4rem 0;
    text-align: center;
    width: 100%;
    justify-items: center;
    margin: 15rem 0;

    @media (min-height: 700px) {
      margin: auto 0;
    }
    @media (min-width: 768px) {
      width: 55%;
      text-align: right;
      padding-right: 5rem;
      justify-items: end;
    }
  }
  &__background {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    @media (min-width: 768px) {
      display: block;
      width: 45%;
      background-image: url(../img/indeximg.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}
